.blacklist_container {
  text-align: center !important;
  border-top: 1px solid #e9eaed;
  padding: 12px;
}

.blacklist_button {
  font-weight: bold;
  border: 1px solid #ced0d4;
  padding: 8px;
  cursor: pointer;
  background-color: #e9ebee;
  color: #4b4f56;
}

.blacklist_button:hover {
  text-decoration: none;
}
